<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Logon</title>
</head>
<body>
  <header class="h200 bgb">
    <p>CABECERA</p>
  </header>
  <div class="m20 df fdc">
    <div class="m10-0-10-0 df fdc">
      <label class="m0-0-10-0 cf ft" for="Account">Account</label>
      <input class="p10 br bc" type="text" name="" id="">  
    </div>
    <div class="m10-0-10-0 df fdc">
      <label class="m0-0-10-0 cf ft" for="password">Password</label>
      <input class="p10 br bc" type="password" name="" id="">
    </div>
  </div>
  <footer class="h200 bgb">
    <p>PIE DE PAGINA</p>
  </footer>  
</body>
</html>