* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-darkBlue: #003049;
  --bg-red: #d62828;
  --bg-orange: #f77f00;
  --bg-yellow: #fcbf49;
  --bg-lightYellow : #eae2b7;
  --bg-white: white;
}

a {
  text-decoration: none;
}

.h200 {height: 200px;}
.bgb {background-color: black;}
.m10 {margin: 10px;} 
.m20 {margin: 20px;}
.m0-0-10-0 {margin: 0 0 10px 0;}
.m0-20-0-0 {margin: 0 20px 0 0;}
.m10-0-10-0 {margin: 10px 0 10px 0;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.p10-20-10-20 {padding: 10px 20px 10px 20px;}
.df {display: flex;}
.fdc {flex-direction: column;} 
.fdr {flex-direction: row;}
.jce {justify-content: end;}
.cfo {color: var(--bg-orange);}
.cfw {color: var(--bg-white);}
.bt {border-top: solid 1px var(--bg-red);}
.bcr {border-color:var(--bg-yellow) ;}
.bcw {border-color: var(--bg-white);}
.ft {font-family: 'Fredoka', sans-serif;}
.fz12 {font-size: 12px;}
.br {border-radius: 10px;}
.asc {align-self: center;}
.bgbo {background-color: var(--bg-orange);}

.btn {transition-duration: 0.6s;}
.btn:hover {
  background-color: #d62828;
  color: white;
  box-shadow: 4px 8px 15px 0px rgba(0,0,0,0.39);
}
input {transition-duration: 0.6s;}
input:focus {
  background-color: #d364640f;
}

