<%- include("./partials/head")  %>

<body>

  <%- include("./partials/header")  %>

  <div class="df fdc m20 p10 ft">
    <a class="cfo" href="/">HOME</a>
    <a class="cfo" href="/users/login">LOGIN</a>
    <a class="cfo" href="/users/register">REGISTER</a>
  </div>

  <%- include("./partials/footer")  %>
  
</body>
