<%- include("./partials/head")  %>

<body>

  <%- include("./partials/header")  %>

  <div class="df fdc m20 p10">
    <a href="/">HOME</a>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
  </div>

  <%- include("./partials/footer")  %>
  
</body>
