<%- include("./partials/head")  %>

<body>

  <%- include("./partials/header")  %>

  <div class="df fdc m20 p10 ft">
    <a class="cfo" href="/dev/v1">HOME</a>
    <a class="cfo" href="/dev/v1/auth/signin">SIGN IN</a>
    <a class="cfo" href="/dev/v1/auth/signup">SIGN UP</a>
  </div>

  <%- include("./partials/footer")  %>
  
</body>
