<footer class="df fdc bgdb">
    <div class="df cfw m20 p10 asc bb">
        <ul class="df fdr">
            <a class="cfw p10 tac" href="#">
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <p class="dn">FACEBOOK</p>
                </div>
            </a>
            <a class="cfw p10 tac" href="#">
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <p class="dn">INSTAGRAM</p>
                </div>
            </a>
            <a class="cfw p10 tac" href="#">
                <div>
                    <i class="fa-brands fa-twitter"></i>
                    <p class="dn">TWITTER</p>
                </div>
            </a>
            <a class="cfw p10 tac" href="#">
                <div>
                    <i class="fa-brands fa-telegram"></i>
                    <p class="dn">TELEGRAM</p>
                </div>
            </a>
        </ul>
    </div>
    <div class="df fdc cfw p10 asc bb m20">
        <label class="tac mb10" for="newsletter">NEWSLETTER</label>
        <div class="df fdr pb10">
            <input class="" type="text" name="newsletter" id="newsletter">
            <button>SUBMIT</button>
        </div>        
    </div>
</footer>  