<header class="df fdc bgdb">
    <div class="df fdc cfw m20 p10 asc menu">
        <i class="fa-solid fa-bars tac fz35"></i>    
        <nav class="df jcc p10 dn">
            <ul class="df fdc">
                <a class="cfw p10 bb tac" href="/">HOME</a>
                <a class="cfw p10 bb tac" href="/users/register">REGISTER</a>
                <a class="cfw p10 bb tac" href="/users/login">LOGIN</a>
            </ul>
        </nav>
</div>
</header>