<header class="df fdc bgdb">
    <div class="df fdc cfw m20 p10 asc menu">
        <i class="fa-solid fa-bars tac fz35"></i>    
        <nav class="df jcc p10 dn">
            <ul class="df fdc">
                <a class="cfw p10 bb tac" href="/dev/v1">HOME</a>
                <a class="cfw p10 bb tac" href="/dev/v1/auth/signup">SIGN UP</a>
                <a class="cfw p10 bb tac" href="/dev/v1/auth/signin">SIGN IN</a>
            </ul>
        </nav>
</div>
</header>