  <%- include("../partials/head")  %>

  <body>

    <%- include("../partials/header")  %>

    <div class="m20 df fdc">
      <div class="df p10 m20 asc">
        <h1 class="ft cfdb">SIGN UP</h1>
      </div>
      <form id="Register" class="df fdc p20" action="/dev/v1/auth/signup" method="POST">
        <div class="m10-0-10-0 df fdc">
          <label class="m0-0-10-0 cfo ft" for="email">E-MAIL</label>
          <input class="p10 br bcr" type="email" name="email" id="email">  
        </div>
        <div class="dn">
          <li>
            <h1><%=  %></h1>
          </li>
        </div>
        <div class="m10-0-10-0 df fdc">
          <label class="m0-0-10-0 cfo ft" for="password">PASSWORD</label>
          <input class="p10 br bcr" type="password" name="password" id="password">     
        </div>
        <div class="m10-0-10-0 df fdc">
          <label class="m0-0-10-0 cfo ft" for="retype password">RE-TYPE PASSWORD</label>
          <input class="p10 br bcr" type="password" name="retype password" id="retype password">     
        </div>
        <div class="df m10 p10 asc">
          <button class="btn m20 p10-20-10-20 ft br cfw bgbo bcw" type="submit">REGISTER</button>
          <button class="btn m20 p10-20-10-20 ft br cfw bgbo bcw " type="reset">RESET</button>
        </div>
      </form>
    </div>

    <%- include("../partials/footer")  %>
    
  </body>